<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active c-item" data-bs-interval="10000">
      <img src="https://recette.supertoinette.com/new/2025-03/gratin-de-pates-au-jambon-et-petits-pois-fppo-1200.webp" class="d-block w-100 w-img" alt="...">
    </div>
    <div class="carousel-item c-item" data-bs-interval="2000">
      <img src="https://recette.supertoinette.com/new/2019-07/quichealatomatesp-l2zo-1200.webp" class="d-block w-100 w-img" alt="...">
    </div>
    <div class="carousel-item c-item">
      <img src="https://recette.supertoinette.com/new/2018-01/gratinpommesdeterrebrocolichorizo-wail-1200.webp" class="d-block w-100 w-img" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>